%nav.navbar.navbar-inverse.navbar-fixed-top(style='margin-bottom: 60px')
  .container
    .navbar-header
      = link_to t(:dashboard), admin_dashboard_url, class: 'navbar-brand'

    %ul.nav.navbar-nav
      %li.dropdown
        %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          = t(:rotator)
          %span.caret
        %ul.dropdown-menu
          %li
            = link_to t(:tasks), admin_tasks_path


    %ul.nav.navbar-nav.navbar-right
      %li.dropdown
        %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          = t(:menu)
          %span.caret
        %ul.dropdown-menu
          %li
            = link_to t(:sign_out),destroy_user_session_path, method: :delete
