%section.page-1
  .col-md-12.first-section
    .col-md-4.col-md-offset-7
      %p BEAUTY SEASONS — это не просто бьюти-студия, это Ваша история красоты...
      %p Посещая BEAUTY SEASONS, Вы каждый раз словно окунаетесь в мирэстетики и совершенства. Ведь при создании нашей студии мы старалисьвоплотить в жизнь желание истинных женщин быть не только красивыми, но и сияющими в любое время года.
      %p Наш подход к созданию истории красоты каждого клиента является по-настоящему уникальным: мы выбираем средства только с натуральными ингредиентами и бесспорным косметическим потенциалом.
      #myCarousel.carousel.slide{"data-ride" => "carousel", style: 'margin-bottom: 20px'}
        .carousel-inner{:role => "listbox"}
          %h4.news= "Новости:"
          - @tigings.each_with_index do |tiging, ind|
            .item(class="#{'active' if ind.zero?}"  id=ind)
              .col-md-12
                .col-md-5
                  = image_tag(tiging.asset.url, class: 'img-responsive center-block')
                .col-md-7.text-block
                  %h6(style='text-align: center')= tiging.title
                  %p= tiging.text.mb_chars.truncate(140).html_safe
                  %a.news.to-news(href='#{tiging.id}') Подробнее
        / Left and right controls
        %a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel", :role => "button"}
          %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
          %span.sr-only Previous
        %a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel", :role => "button"}
          %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
          %span.sr-only Next
      = form_tag '/orders', id: 'content', remote: true do
        %input{:name => "user", :placeholder => "Имя", :required => "", :type => "text"}
          %input.js-phone-mask{:name => "phone", :placeholder => "Телефон", :required => "", :type => "text"}
            %button{:type => "submit", :value => "Submit"} Перезвоните мне
            %button{:type => "submit", :value => "Submit"} Записаться

= render partial: 'about_us'
= render partial: 'blocks'

#my-popup.mfp-hide.order-popup
  = form_tag '/orders', remote: true do
    %h2 Записаться
    %input#p_name.order-form{:name => "p_name", :placeholder => "Имя", :required => "", :type => "text"}
    %input#p_phone.js-phone-mask.order-form{:name => "p_phone", :placeholder => "Телефон", :required => "", :type => "text"}
    %input.button.order-form{:name => "btnsend", :type => "submit", :value => "Отправить"}


#complete.mfp-hide.order-popup
  %h2 Спасибо за заявку!
  %p(style='color: #d6b271') Наш менеджер свяжется с Вами в ближайшее время
